@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #66898fc4,#e4dad8c6, #6e899ac1);
    margin: 0px;
    text-align: justify;
}

main{
    background-color: white;
    border-radius:10px ;
    box-shadow:5px 5px 15px #144b5598 ;
    width: 1150px;
    padding: 10px;
    margin: auto;
 }
h1{
    font-family: fantasy, 'Times New Roman', Times, serif;
    font-size: 6em;
    font-weight: normal;
    text-align:center ;
    color: #89414C;
    margin-top: 15px;
    margin-bottom: 15px;
}
header{
    background-image: linear-gradient(to right, #66898fc4,#e4dad8c6, #6e899ac1);
    padding:1px;
    margin: 5px 5px 15px 5px;
    height:210px ;
}
nav{
    margin: 10px 10px 30px 10px;
    
}
nav > h1{
    padding: 8px;
    font-size:20px;

}
nav > a{
    text-decoration: none;
    color: #89414C;
    margin: 15px;
    padding-left: 15px;
    border: 20px ;
}

h2, h3{
    font-size: 2em;
    font-family: fantasy, 'Times New Roman', Times, serif;
    text-align: justify;
    color: #89414C;   
}

p{
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    text-indent: 30px;
}

footer{
    background-image: linear-gradient(to right, #66898fc4,#e4dad8c6, #6e899ac1);
    height: 25px;
    text-align: center;
    padding: 5px;
    border: auto;
    margin: auto;
}

a{
    color: #89414C;
    text-align: right;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
  }

.destaque{
    font-weight: bold;
    color:#144b5598 ;
}
#diferenciado{
    color: #89414C;
    
}
#diferenciado:hover{
    color: #89414C;
}
.especial{
    font-weight: bold;
    color:#144b5598 ;
}

.especial::after{
    content: ' ⇢ ';
    font-weight: bold;
    color:#1c363bdc ;
}

.video{
    text-align: center;
}
.imagem{
    text-align: center;
    margin: 10px 10px 30px 10px;
}

