@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
main{
    background-color: white;
    border-radius:10px ;
    box-shadow:5px 5px 15px #144b5598 ;
    width: 1150px;
    padding: 5px;
    margin: auto;
 }
h1{
    font-family: fantasy, 'Times New Roman', Times, serif;
    font-size: 6em;
    font-weight: normal;
    text-align:center ;
    color: #89414C;
}
h1#principal{
    background-image: linear-gradient(to right, #66898fc4,#e4dad8c6, #6e899ac1);
}

body{
    background-image: linear-gradient(to right, #66898fc4,#e4dad8c6, #6e899ac1);
}

h2, h3{
    font-size: 2em;
    font-family: fantasy, 'Times New Roman', Times, serif;
    text-align: justify;
    color: #89414C;   
}

p{
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    text-indent: 30px;
}

a{
    color: #89414C;
    text-align: right;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
  }

.destaque{
    font-weight: bold;
    color:#144b5598 ;
}
.diferenciado{
    color: #89414C;
    content: ' ☸ ';
}
.especial{
    font-weight: bold;
    color:#144b5598 ;
}

.especial::after{
    content: ' ⇢ ';
    font-weight: bold;
    color:#1c363bdc ;
}
